body {
    font-family: 'Montserrat', sans-serif;
}

.about {
    font-size: 18px;
    font-weight: 300;
    color: grey;
    margin-bottom: 24px;
}

.avatar{
    width: 210px;
    height: 210px;
    margin-bottom: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 0px 0px black;
}

.button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
}

.contact {
    margin-bottom: 48px;
}

.contact-icon {
    width: 16px;
    margin-right: 12px;
}

.contact-item {
    margin-bottom: 4px;
}

.container{
    background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.7)), 
        url("https://images.unsplash.com/photo-1616259538286-9a912d5139c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1667&q=80");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    min-height: 100vh;
    padding: 128px;
}

@media screen and (max-width: 768px){
    .container {
        padding: 48px;
    }
}

.content{
    max-width: 500px;
}

.job {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.name {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

@media screen and (max-width: 768px){
    .name {
        font-size: 36px;
    }
}

@media screen and (max-width: 500px){
    .name { 
        font-size: 24px;
    }
}